.container {
    display: flex;
    flex-direction: column;
    width: 600px;
    justify-content: space-between;
    margin-top: 60px;
    margin-right: 16px;
    max-width: 608px;
    border: 1px solid transparent;
    border-radius: 20px;
}

.constructorsContainer {
    max-height: calc(100% - 135px);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
}

.constructor {
    display: flex;
    align-items: center;
    margin: 8px 0;
}

.order {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 15px;
}

.price {
    align-items: center;
    display: flex;
}

.logo {
    display: flex;
}

.logo > svg {
    width: 33px;
    height: 33px;
    margin-right: 40px;
}

.buns {
    padding-right: 16px;
    cursor: pointer;
}

.buns:first-child {
    margin-top: 8px;
}

.buns:last-child {
    margin-bottom: -8px;
}

.fillings {
    scrollbar-gutter: stable;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding-right: 8px;
}

.fillings::-webkit-scrollbar {
    width: 8px;
}

.fillings::-webkit-scrollbar-track {
    background: #2F2F37;
}

.fillings::-webkit-scrollbar-thumb {
    background: #8585AD;
    height: 292px;
}

@media (max-height: 1000px) {
    .fillings::-webkit-scrollbar-thumb {
        background: #8585AD;
        height: 292px;
    }
}

@media (max-height: 900px) {
    .fillings::-webkit-scrollbar-thumb {
        height: 252px;
    }
}

@media (max-height: 800px) {
    .fillings::-webkit-scrollbar-thumb {
        height: 200px;
    }
}

@media (max-height: 700px) {
    .fillings::-webkit-scrollbar-thumb {
        height: 152px;
    }
}

.noCompoundText {
    margin: auto;
    text-align: center;
    opacity: 0.5;
}
.middleConstructor {
    max-height: 80px !important;
}
.middleConstructor > div {
    width: 536px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.orderModal {
    min-width: 720px;
    height: 718px;
}
.ingredientsModal {
    min-width: 720px;
    height: 539px;
}
.ingredientsModalTitle {
    text-align: left;
}

.modalContainer {
    flex-direction: column;
    text-align: center;
    width: 640px;
}

.orderIcon {
    margin-top: 60px;
    width: 120px;
    height: 120px;
}

.customText {
    color: #8585AD;
}

.orderNumber {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}
.pfc {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    justify-content: center;
    color: #8585AD;
}
.image {
    width: 480px;
    height: 240px;
    object-fit: contain;
}